In [6]:
import pandas as pd
df = pd.read_csv(f"single_building/data/Charger04_all_train_fix.csv")

In [3]:
df

,electkwh,PV_generation,chargekwh,h_countdown,soc_ev,month,day,hour,nday,d_res,...,hour_sin,month_cos,month_sin,spring,summer,autumn,winter,season,p_buy,p_sell
0,0.602,0.0,NaN,-1.0,1.0,11,16,0,361,0.602,...,0.000000e+00,0.866025,-0.500000,False,False,True,False,3,0.4,0.08
1,0.424,0.0,NaN,-1.0,1.0,11,16,1,362,0.424,...,2.697968e-01,0.866025,-0.500000,False,False,True,False,3,0.4,0.08
2,0.376,0.0,NaN,-1.0,1.0,11,16,2,363,0.376,...,5.195840e-01,0.866025,-0.500000,False,False,True,False,3,0.4,0.08
3,0.300,0.0,NaN,-1.0,1.0,11,16,3,364,0.300,...,7.308360e-01,0.866025,-0.500000,False,False,True,False,3,0.4,0.08
4,0.363,0.0,NaN,-1.0,1.0,11,16,4,365,0.363,...,8.878852e-01,0.866025,-0.500000,False,False,True,False,3,0.4,0.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4315,0.460,0.0,NaN,-1.0,1.0,10,26,20,8636,0.460,...,-7.308360e-01,0.500000,-0.866025,False,False,True,False,3,0.4,0.08
4316,0.293,0.0,NaN,-1.0,1.0,10,26,21,8637,0.293,...,-5.195840e-01,0.500000,-0.866025,False,False,True,False,3,0.4,0.08
4317,0.265,0.0,NaN,-1.0,1.0,10,26,22,8638,0.265,...,-2.697968e-01,0.500000,-0.866025,False,False,True,False,3,0.4,0.08
4318,0.201,0.0,NaN,-1.0,1.0,10,26,23,8639,0.201,...,-2.449294e-16,0.500000,-0.866025,False,False,True,False,3,0.4,0.08
4319,0.181,0.0,NaN,-1.0,1.0,10,27,0,8640,0.181,...,0.000000e+00,0.500000,-0.866025,False,False,True,False,3,0.4,0.08

In [7]:
print(df.isnull().sum())

electkwh            0
PV_generation       0
chargekwh        3754
h_countdown         0
soc_ev              0
month               0
day                 0
hour                0
nday                0
d_res               0
hour_cos            0
hour_sin            0
month_cos           0
month_sin           0
spring              0
summer              0
autumn              0
winter              0
season              0
p_buy               0
p_sell              0
dtype: int64

In [11]:
df = pd.read_csv(f"single_building/data/Charger03_all_train_fix.csv")
df

,electkwh,PV_generation,chargekwh,h_countdown,soc_ev,month,day,hour,nday,d_res,...,hour_sin,month_cos,month_sin,spring,summer,autumn,winter,season,p_buy,p_sell
0,0.219,0.0,NaN,-1,1.0,11,16,0,361,0.219,...,0.000000e+00,0.866025,-0.500000,False,False,True,False,3,0.4,0.08
1,0.225,0.0,NaN,-1,1.0,11,16,1,362,0.225,...,2.697968e-01,0.866025,-0.500000,False,False,True,False,3,0.4,0.08
2,0.222,0.0,NaN,-1,1.0,11,16,2,363,0.222,...,5.195840e-01,0.866025,-0.500000,False,False,True,False,3,0.4,0.08
3,0.240,0.0,NaN,-1,1.0,11,16,3,364,0.240,...,7.308360e-01,0.866025,-0.500000,False,False,True,False,3,0.4,0.08
4,0.271,0.0,NaN,-1,1.0,11,16,4,365,0.271,...,8.878852e-01,0.866025,-0.500000,False,False,True,False,3,0.4,0.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4315,0.311,0.0,NaN,-1,1.0,10,26,20,8636,0.311,...,-7.308360e-01,0.500000,-0.866025,False,False,True,False,3,0.4,0.08
4316,0.312,0.0,NaN,-1,1.0,10,26,21,8637,0.312,...,-5.195840e-01,0.500000,-0.866025,False,False,True,False,3,0.4,0.08
4317,0.259,0.0,NaN,-1,1.0,10,26,22,8638,0.259,...,-2.697968e-01,0.500000,-0.866025,False,False,True,False,3,0.4,0.08
4318,0.233,0.0,NaN,-1,1.0,10,26,23,8639,0.233,...,-2.450000e-16,0.500000,-0.866025,False,False,True,False,3,0.4,0.08
4319,0.226,0.0,NaN,-1,1.0,10,27,0,8640,0.226,...,0.000000e+00,0.500000,-0.866025,False,False,True,False,3,0.4,0.08

In [9]:
chargerIDs = ['Charger01', 'Charger02', 'Charger03', 'Charger04', 'Charger05', 'Charger06', 'Charger07', 'Charger08', 'Charger09', 'Charger98']
runs = ['train', 'eval', 'test']

for ID in chargerIDs:
    for run in runs:
        df = pd.read_csv(f"single_building/data/{ID}_all_{run}_fix.csv")
        print('NaNs:', df['chargekwh'].isnull().sum())
        for i in range(0, len(df) -1 ):
            c_ev = df.loc[i,'h_countdown']
            if c_ev > -1:
                if df.loc[i+1,'h_countdown'] != c_ev - 1:
                    print(f'ID: {ID}, run: {run}, index:', i)
                    print(c_ev)
                    print(df.loc[i+1,'h_countdown'])

NaNs: 3996
NaNs: 1291
ID: Charger01, run: eval, index: 59
1.0
1.0
NaNs: 2786
NaNs: 4238
NaNs: 1406
ID: Charger02, run: eval, index: 15
1.0
2.0
NaNs: 2926
ID: Charger02, run: test, index: 676
1.0
1.0

KeyError: 'chargekwh'